.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_bar_option {
	padding-left:0.5%;
    float: left;
    width: 24.5%;
}

.nav_bar_option a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.nav_bar_option a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}