.outer {
	border: 2px solid black;
	padding: 10px;
    margin:auto;
    width:400px;
    display:block;
    padding-bottom:40px;
    margin-top:200px;
}

body {

}

.inner {
	color: black;
	margin: 5px;
	padding:3px;
}

.inner_input{
		float:right;
}

.button {
	float:right;
	cursor: pointer;
	margin-left:5px;
}

#response_text{
	color:red;
}

